a {
    height: 30px;
    width: 60px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #21517a;
}
a:hover {
    width: 65px;
    /* background-color: rgba(37, 71, 102, 0.63); */
    background-color: white;
    color: #21517a;
}